@{
    ViewData["Title"] = SharedLocalizer["AccessDenied"];
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="text-danger">@ViewData["Title"]</h1>
            <h2 class="text-danger">@SharedLocalizer["AccessDeniedMessage"]</h2>

            <div class="mt-4">
                <a asp-controller="Home" asp-action="Index" class="btn btn-primary">@SharedLocalizer["BackToList"]</a>
            </div>
        </div>
    </div>
</div> 